<blockquote class="embedly-card" data-card-theme="{{page.card-theme}}">
    <h4>
        <a href="https://www.finishinglinepress.com/product/songs-after-memory-fractures-by-allyson-jeffredo/">Songs After Memory Fractures by Allyson Jeffredo</a>
    </h4>
    <p>Songs After Memory Fractures is a conjunction of yowls and whispers that recognizes life as the longest, truest measure
        of time-confronting the real terror of loss and the even greater surprise of it. Each page operates with a reluctance
        to denounce the confusion of longing for memory, while avoiding exaggerated sentimentality, and delivering "history
        no one knew would be lost."</p>
</blockquote>