---
layout: default
title: Curriculum Vitae
permalink: cv.html
---

<section class="container cv-section">
    <div class="card">
      <div class="cv-intro p-2">
          <div class="card-body p-0">
            <h1 class="card-title h1 cv-intro--name">Curriculum Vitae</h1>
            {% include social-buttons.html %}
            <a href="static/jeffredo_cv.pdf" target="_blank" class="btn btn-accent btn-sm btn-download-resume">
                <i class="fas fa-download"></i>
                Download CV
            </a>
          </div>
      </div>  
      <div id="accordion">
        <div class="card">
            <div class="card-header px-0" id="educationHeader">
              <h4 class="mb-0">
                 <button class="h3 btn btn-link btn-block py-0 mb-0 text-left" data-toggle="collapse" data-target="#educationCollapse" aria-expanded="true" aria-controls="educationCollapse">
                    <i class="fas fa-graduation-cap pr-2" aria-hidden="true"></i>
                    Education 
                  </button>   
              </h4>
            </div>
            <div id="educationCollapse" class="collapse" aria-labelledby="educationHeader">
                <div class="card-body">
                  <div class="list-group list-group-flush">
                  {% for education in site.data.cv.education %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{education.degree}}</h5>
                        <small>{{education.date}}</small>
                      </div>
                      <p class="mb-1">{{education.school}}</p>
                    </div>
                  {% endfor %}
                  </div>
                </div>
            </div>
        </div> 
        <div class="card">
            <div class="card-header px-0" id="teachingHeader">
              <h4 class="mb-0">
                  <button class="h3 btn btn-link btn-block text-left py-0 mb-0" data-toggle="collapse"  data-target="#teachingCollapse" aria-expanded="false" aria-controls="teachingCollapse">
                    <i class="fas fa-briefcase pr-2" aria-hidden="true"></i>
                    Teaching Experience  
                  </button>                   
              </h4>
            </div>
            <div id="teachingCollapse" class="collapse" aria-labelledby="teachingHeader">
              <div class="card-body">
                <div class="list-group list-group-flush">
                {% for teaching in site.data.cv.teachingExperience %}
                  <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{teaching.campus}}</h5>
                      <small>{{teaching.date}}</small>
                    </div>
                    <p class="mb-1">{{teaching.title}}</p>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
        </div> 
         <div class="card">
            <div class="card-header px-0" id="awardsHeader">
              <h4 class="mb-0">
                 <button class="h3 btn btn-link btn-block text-left py-0 mb-0" data-toggle="collapse" data-target="#awardsCollapse" aria-expanded="false" aria-controls="awardsCollapse">
                    <i class="fas fa-trophy pr-2" aria-hidden="true"></i>
                    Honors & Awards  
                  </button>             
              </h4>
            </div>
            <div id="awardsCollapse" class="collapse" aria-labelledby="awardsHeader">
                <div class="card-body">
                  <div class="list-group list-group-flush">
                  {% for award in site.data.cv.awards %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{award.award}}</h5>
                        <small>{{award.date}}</small>
                      </div>
                      
                    </div>
                  {% endfor %}
                  </div>
                </div>
            </div>
        </div>
         <div class="card">
            <div class="card-header px-0" id="communityOutreachHeader">
              <h4 class="mb-0">
                <button class="h3 btn btn-link btn-block text-left py-0 mb-0" data-toggle="collapse" data-target="#communityOutreachCollapse" aria-expanded="false" aria-controls="communityOutreachCollapse">
                    <i class="fas fa-handshake-o pr-2" aria-hidden="true"></i>
                    Community Outreach 
                  </button>              
              </h4>
            </div>
            <div id="communityOutreachCollapse" class="collapse" aria-labelledby="communityOutreachHeader">
                <div class="card-body">
                  <div class="list-group list-group-flush">
                  {% for outreach in site.data.cv.communityOutreach %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{outreach.description}}</h5>
                        <small>{{outreach.date}}</small>
                      </div>          
                    </div>
                  {% endfor %}
                  </div>
                </div>
            </div>
        </div>
         <div class="card">
            <div class="card-header px-0" id="editorialHeader">
              <h4 class="mb-0">    
                 <button class="h3 btn btn-link btn-block text-left py-0 mb-0" data-toggle="collapse" data-target="#editorialCollapse" aria-expanded="false" aria-controls="editorialCollapse">
                    <i class="fas fa-pencil pr-2" aria-hidden="true"></i>
                    Editorial Work
                  </button>        
              </h4>
            </div>
            <div id="editorialCollapse" class="collapse" aria-labelledby="editorialHeader">
                <div class="card-body">
                  <div class="list-group list-group-flush">
                  {% for work in site.data.cv.editor %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{work.work}}</h5>
                        <small>{{work.date}}</small>
                      </div>          
                    </div>
                  {% endfor %}
                  </div>
                </div>
            </div>
        </div>
         <div class="card">
            <div class="card-header px-0" id="publicationsHeader">
              <h4 class="mb-0">
                 <button class="h3 btn btn-link btn-block text-left py-0 mb-0" data-toggle="collapse" data-target="#publicationsCollapse" aria-expanded="false" aria-controls="publicationsCollapse">
                    <i class="fas fa-book pr-2" aria-hidden="true"></i>
                    Publications
                  </button>            
              </h4>
            </div>
            <div id="publicationsCollapse" class="collapse" aria-labelledby="publicationsHeader">
                <div class="card-body">
                  <div class="list-group list-group-flush">
                  {% for work in site.data.cv.publications %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{work.title}}</h5>
                        <small>{{work.date}}</small>
                      </div>  
                      <p class="mb-1"><a href="{{work.publisherUrl}}" target="_blank">{{work.publisher}}</a></p>        
                    </div>
                  {% endfor %}
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>

