---
layout: default
title: My Work
permalink: my-work.html
card-theme: dark
---
{% assign poems = site.data.works.works | where: "type", "Poem" %}
{% assign articles = site.data.works.works | where: "type", "Article" %}
{% assign essays = site.data.works.works | where: "type", "Essay" %}

<section class="container work-section">

  <h1 class="h-center">{{page.title}}</h1>
  <div class="row">
    <div class="col-sm-12">
      <p>A Fox one day spied a beautiful bunch of ripe grapes hanging from a vine trained along the branches of a tree. The grapes seemed ready to burst with juice, and the Fox's mouth watered as he gazed longingly at them.</p>
      <p>The bunch hung from a high branch, and the Fox had to jump for it. The first time he jumped he missed it by a long way. So he walked off a short distance and took a running leap at it, only to fall short once more. Again and again he tried, but
        in vain.</p>
    </div>
  </div>

  {% if poems.size > 0 %}
  <h2 class="h-center work-section__header-type">Poems</h2>
  <div class="work-section__header-underline"></div/>
  <div class="row">
    <div class="col-xs-12">
      {% for poem in poems %}
        {% if poem.include != "N/A" %}
             <div class="card h-layout-margins">
                <div class="card-block">
                  <h4 class="card-title">{{poem.title}}</h4>
                  <p class="card-text">{{poem.description | markdownify }}</p>
                  <div class="card-content">
                    {% include works/{{poem.include}} %}
                  </div>
                </div>
              </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if articles.size > 0 %}
    <h2 class="h-center work-section__header-type">Articles</h2>
    <div class="work-section__header-underline"></div/>
    <div class="row">
      <div class="col-xs-12">
        {% for article in articles %}
          {% if article.include != "N/A" %}
              <div class="card h-layout-margins">
                <div class="card-block">
                  <h4 class="card-title">{{article.title}}</h4>
                  <p class="card-text">{{article.description | markdownify }}</p>
                  <div class="card-content">
                    {% include works/{{article.include}} %}
                  </div>
                </div>
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if essay.size > 0 %}
    <h2 class="h-center work-section__header-type">Essays</h2>
    <div class="work-section__header-underline"></div/>
    <div class="row">
      <div class="col-xs-12">
        {% for essay in essays %}
          {% if essay.include != "N/A" %}
               <div class="card h-layout-margins">
                <div class="card-block">
                  <h4 class="card-title">{{essay.title}}</h4>
                  <p class="card-text">{{essay.description | markdownify }}</p>
                  <div class="card-content">
                    {% include works/{{essay.include}} %}
                  </div>
                </div>
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

</section>
