---
layout: default
title: My Work
permalink: my-work.html
card-theme: dark
---
{% assign poems = site.data.works.works | where: "type", "Poem" %}
{% assign articles = site.data.works.works | where: "type", "Article" %}
{% assign essays = site.data.works.works | where: "type", "Essay" %}

<section class="container work-section">

  <h1 class="h-center">{{page.title}}</h1>
  <div class="row">
    <div class="col-sm-12">
      <p>A Fox one day spied a beautiful bunch of ripe grapes hanging from a vine trained along the branches of a tree. The grapes seemed ready to burst with juice, and the Fox's mouth watered as he gazed longingly at them.</p>
      <p>The bunch hung from a high branch, and the Fox had to jump for it. The first time he jumped he missed it by a long way. So he walked off a short distance and took a running leap at it, only to fall short once more. Again and again he tried, but
        in vain.</p>
    </div>
  </div>

  <div class="col-xs-12 pt-2 pb-2">
    <div class="card card-inverse card-info book-card d-flex flex-lg-row flex-xl-row h-layout-padding">
      <div class="col-xs-auto card-image h-image-contain" style="background: url(assets/img/songs-after-memory-fractures.jpg)"></div>
      <div class="col-xs-4 card-block">
        <h4 class="card-title">Songs After Memory Fractures</h4>
        <p class="card-text">Write some stuff here about your book blah blah blah blah. In a spell of dry weather, when the Birds could find very little to drink, a thirsty Crow found a pitcher with a little water in it. But the pitcher was high and had a narrow neck, and no matter how he tried, the Crow could not reach the water</p>
        <a href="https://www.finishinglinepress.com/product/songs-after-memory-fractures-by-allyson-jeffredo/" target="_blank" class="btn btn-primary">Buy it here!</a>
      </div>
    </div>
  </div>

  {% if poems.size > 0 %}
  <h2 class="h-center work-section__header-type">Poems</h2>
  <div class="work-section__header-underline"></div>
  <div class="row">
      {% for poem in poems %}
        {% if poem.include != "N/A" %}
        <div class="col-xs-12 col-md-4 h-no-padding card-deck">
            <div class="card h-layout-margins">
                <div class="card-block">
                    <h4 class="card-title">{{poem.title}}</h4>
                    {% comment %} <p class="card-text">{{poem.description | markdownify }}</p> {% endcomment %}
                    <div class="card-content">
                        {% include works/{{poem.include}} %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
      {% endfor %}
  </div>
  {% endif %}

  {% if articles.size > 0 %}
    <h2 class="h-center work-section__header-type">Articles</h2>
    <div class="work-section__header-underline"></div>
    <div class="row">
        {% for article in articles %}
          {% if article.include != "N/A" %}
          <div class="col-xs-12 col-md-6 h-no-padding card-deck">
              <div class="card h-layout-margins">
                <div class="card-block">
                  <h4 class="card-title">{{article.title}}</h4>
                  {% comment %} <p class="card-text">{{article.description | markdownify }}</p> {% endcomment %}
                  <div class="card-content">
                    {% include works/{{article.include}} %}
                  </div>
                </div>
              </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}

  {% if essay.size > 0 %}
    <h2 class="h-center work-section__header-type">Essays</h2>
    <div class="work-section__header-underline"></div>
    <div class="row">
        {% for essay in essays %}
          {% if essay.include != "N/A" %}
          <div class="col-xs-12 col-md-6 h-no-padding card-deck">
               <div class="card h-layout-margins">
                <div class="card-block">
                  <h4 class="card-title">{{essay.title}}</h4>
                  <p class="card-text">{{essay.description | markdownify }}</p>
                  <div class="card-content">
                    {% include works/{{essay.include}} %}
                  </div>
                </div>
              </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}

</section>
