.cv-intro{
    background-image: url("../assets/img/polygons.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    text-align: center;
}

.cv-intro--profile-image{
    height: 12rem;
    width: 12rem;
    margin: 0 auto;
}


.cv-intro--name{
    color: $theme-primary;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    // font-size: 4rem;
    text-transform: none;
    font-weight: 500;
}

.cv-intro--description{
    font-weight: 700;
}
