<footer class="h-layout-padding">
  <div class="row h-no-margins">
    <div class="col-sm-12">
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="{{site.twitterUrl}}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.facebookUrl}}" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.linkedInUrl}}" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.email}}" target="_blank">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-12">
      <span class="float-left">
        <small>&copy; Copyright <span class="footerYear"></span></small>
      </span>
      <span class="float-right">
        <small>
          <a class="made-with-heart" href="https://www.linkedin.com/in/dbernal91" target="_blank">Made with <i class="fa fa-heart" aria-hidden="true"></i> by Diego</a>
        </small>
      </span>
    </div>
  </div>
</footer>
