<footer class="h-layout-padding row">
  <div class="col-sm-12">
    <ul class="list-inline social-buttons">
      <li class="list-inline-item">
        <a href="{{site.twitterUrl}}" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{site.facebookUrl}}" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{site.linkedInUrl}}" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{site.email}}" target="_blank">
          <i class="fa fa-envelope-o"></i>
        </a>
      </li>
    </ul>
    <span class="float-right" style="display:inline-block">Made with <3 by </span>
  </div>
</footer>
