<head>
    <title>{{page.title}} | {{site.authorName}}</title>
    <meta name="description" content="Hello, I'm Allyson Jeffredo" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{site.ogDescription}}" />
    <meta property="og:title" content="{{site.ogTitle}}" />
    <meta property="og:url" content="{{site.ogUrl}}" />
    <meta property="og:image" content="{{site.ogUrl}}{{site.ogImage}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{site.ogTitle}}" />
    <meta name="twitter:description" content="{{site.ogDescription}}" />
    <meta name="twitter:image" content="{{site.ogImage}}" />
    <meta name="twitter:url" content="{{site.ogUrl}}{{site.ogImage}}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{site.favicon}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- <link href="assets/vendor/animate.css" rel="stylesheet" type="text/css"> -->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,100italic,300italic,400" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
</head>