<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <img class="rounded-circle profile-image" alt="{{site.authorName}}" src="assets/img/profile.jpeg" />
      <div class="intro-lead-in layout-margin">{{site.authorName}}</div>
      <div class="intro-heading layout-margin">Designer. Programmer. Creative. Innovator.</div>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="{{site.twitterUrl}}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.facebookUrl}}" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.linkedInUrl}}" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <p class="extend-details">
        A Wolf had been feasting too greedily, and a bone had stuck crosswise in his throat. He could get it neither up nor down, and of course he could not eat a thing. Naturally that was an awful state of affairs for a greedy Wolf.
      </p>
      <div class="row down">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a href="#theGrid"><span class="arrow">
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
      </div>
      <!-- <a class="btn btn-xl js-scroll-trigger" href="#services">Button</a> -->
    </div>
  </div>
</header>
