<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <img class="rounded-circle profile-image" alt="Allyson Jeffredo" src="assets/img/profile.jpeg" />
      <div class="intro-lead-in layout-margin">Allyson Jeffredo</div>
      <div class="intro-heading layout-margin">Designer. Programmer. Creative. Innovator.</div>
      <p class="extend-details">
        A Wolf had been feasting too greedily, and a bone had stuck crosswise in his throat. He could get it neither up nor down, and of course he could not eat a thing. Naturally that was an awful state of affairs for a greedy Wolf.
      </p>
      <a class="btn btn-xl js-scroll-trigger" href="#services">Button</a>
    </div>
  </div>
</header>
