<header class="hero">
  <div class="container">
    <div class="intro-text">
      <img class="rounded-circle profile-image" alt="{{site.authorName}}" src="assets/img/profile.jpeg" />
      <div class="intro-lead-in h-layout-margins">{{site.authorName}}</div>
      <div class="intro-heading h-layout-margins">Designer. Programmer. Creative. Innovator.</div>
      <p class="extend-details h-padding-bottom">
        A Wolf had been feasting too greedily, and a bone had stuck crosswise in his throat. He could get it neither up nor down, and of course he could not eat a thing. Naturally that was an awful state of affairs for a greedy Wolf.
      </p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="{{site.twitterUrl}}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.facebookUrl}}" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.linkedInUrl}}" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.email}}" target="_blank">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul>
      <a class="js-scroll-trigger btn btn-see-more animated fadeInUpBig hidden-xs-down" href="#aboutMe">
        See More
      </a>
    </div>
  </div>
</header>
