<header class="hero">
  <div class="container">
    <div class="intro-text">
      <img class="rounded-circle profile-image" alt="{{site.authorName}}" src="assets/img/profile.jpeg" />
      <!-- <h1 class="intro-lead-in h-layout-margins display-3">{{site.authorName}}</h1> -->
      <!-- <h2 class="intro-heading h-layout-margins">Poet. Writer. Educator.</h2> -->
      <h2 class="intro-lead-in h-layout-margins display-4">Poet. Writer. Educator.</h2>
      <p class="extend-details h-padding-bottom">
        Allyson Jeffredo is a poet, writer and educator originally from the Coachella Valley, but currently stationed in the Inland
        Empire. Her work can be found in numerous publications &ndash; both print and online. At the moment, she splits her
        time between teaching community college, community workshops and writing.
      </p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="{{site.twitterUrl}}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.facebookUrl}}" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.instagramUrl}}" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:{{site.email}}">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul>
      <a class="js-scroll-trigger btn btn-see-more btn-primary hidden-xs-down" href="#aboutMe">
        See More
      </a>
    </div>
  </div>
</header>