<header class="hero">
  <div class="container">
    <div class="intro-text">
      <img class="rounded-circle profile-image" alt="{{site.authorName}}" src="assets/img/profile.jpeg" />
      <h2 class="intro-lead-in h-layout-margins display-4">Poet. Writer. Educator.</h2>
      <p class="extend-details h-padding-bottom">
        Allyson Jeffredo is a poet, writer and educator originally from the Coachella Valley, but currently stationed in the Inland
        Empire. Her work can be found in numerous publications &ndash; both print and online. At the moment, she splits her
        time between teaching community college, community workshops and writing.
      </p>
      {% include social-buttons.html %}
      <a class="btn btn-primary mt-5" href="contact.html">
        Hire Me!
      </a>
    </div>
  </div>
</header>