<small class="text-muted">
    Share this {{site.url}}{{page.url}}</small>
<ul class="list-inline social-buttons">
    <li class="list-inline-item">
        <a class="twitter-btn text-center" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{page.url | absolute_url}}&via={{ site.twitterUsername }}&related={{ site.twitterUsername }}"
            rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://facebook.com/sharer/sharer.php?u={{page.url | absolute_url}}&title={{page.title | url_escape}}" rel="nofollow"
            target="_blank" title="Share on Facebook" class="facebook-btn text-center">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="text-center" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{page.url | absolute_url}}" title="Share via Email">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
</ul>