.contact-section {
  .form-group {
    .input-group-addon {
      color: rgba(255, 255, 255, 0.7);
      background: #1a2e39;
      border: 1px solid #1a2e39;
      width: 2.75rem;
    }

    &.has-error {
      .input-group-addon {
        color: #a94442;
        border-color: #a94442;
      }

      .form-control {
        border-color: #a94442;
      }
    }
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1.5px rgba(0, 123, 255, 0.25);
  }
}
