.h-center {
    text-align: center !important;
}

.h-left {
    text-align: left !important;
}

.h-right {
    text-align: right !important;
}

.h-no-wrap {
    white-space: nowrap !important;
}

.h-layout-padding {
    padding: 15px;
}

.h-horizontal-padding {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.h-vertical-padding {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.h-padding-bottom {
    padding-bottom: 15px !important;
}

.h-padding-top {
    padding-top: 15px !important;
}

.h-no-padding {
    padding: 0 !important;
}

.h-no-horizontal-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.h-no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.h-layout-margins {
    margin: 15px;
}

.h-horizontal-margins {
    margin-left: 15px !important;
    margin-left: 15px !important;
}

.h-vertical-margins {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.h-no-margins {
    margin: 0 !important;
}

.h-no-horizontal-margins {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.h-no-vertical-margins {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.h-fill {
    width: 100% !important;
    height: 100% !important;
}

.h-text-uppercase {
    text-transform: uppercase;
}

.h-truncate {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.h-word-wrap {
    word-wrap: break-word !important;
    text-overflow: initial !important;
    white-space: initial !important;
}

.h-image-fill {
    //background: url(../assets/images/img.gif) center no-repeat;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden;
    background-size: cover !important;
}

.h-image-contain {
    //background: url(../assets/images/img.gif) center no-repeat;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden;
    background-size: contain !important;
}
