<blockquote class="embedly-card" data-card-theme="dark">
    <h4>
        <a href="https://2leafpress.org/online/product/the-beiging-of-america/">The Beiging of America " 2Leaf Press</a>
    </h4>
    <p>Personal Narratives about Being Mixed Race in the 21st Century Edited by Cathy J. Schlund-Vials, Sean Frederick Forbes
        and Tara Betts with an Afterword by Heidi W. Durrow JUN. 2017 | ISBN: 978-1-940939-55-1 (eBook) LCCN 2016944187 2LP
        EXPLORATIONS IN DIVERSITY BOOK PREVIEW PUBLICATION DATE JUNE 2017</p>
</blockquote>