<header class="hero" style="background-image:url({{site.data.home-page.hero.backgroundImage}})">
    <div class="container">
        <div class="intro-text">
            {%-capture displayImage-%}{{site.data.home-page.hero.displayImage | split: "/" | last}}{%-endcapture-%}
            {% include img_srcset.html class="rounded-circle profile-image" alt=site.authorName
            filename=displayImage %}
            <h2 class="intro-lead-in m-3 display-4">{{site.data.home-page.hero.tagline}}</h2>
            <p class="extend-details pb-3">
                {{site.data.home-page.hero.description | markdownify | replace: "<p>" | replace: "</p>" | smartify}}
            </p>
            {% include social-buttons.html %} 
            <!-- <a class="btn btn-primary mt-5" href="{{site.data.home-page.hero.callToAction.url}}">{{site.data.home-page.hero.callToAction.text}}</a> -->
        </div>
    </div>
</header>
