<header class="hero">
  <div class="container">
    <div class="intro-text">
      {% include img_srcset.html class="rounded-circle profile-image" alt=site.authorName filename="profile.jpeg" %}
      <h2 class="intro-lead-in m-3 display-4">Poet. Writer. Educator.</h2>
      <p class="extend-details pb-3">
        Allyson Jeffredo is a poet, writer and educator originally from the Coachella Valley, but currently stationed
        in the Inland
        Empire. Her work can be found in numerous publications &ndash; both print and online. At the moment, she splits
        her
        time between teaching community college, community workshops and writing.
      </p>
      {% include social-buttons.html %}
      <a class="btn btn-primary mt-5" href="contact.html">
        Hire Me!
      </a>
    </div>
  </div>
</header>