<ul class="list-inline social-buttons">
    <li class="list-inline-item">
        <a href="{{site.data.metadata.twitterUrl}}" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="{{site.data.metadata.facebookUrl}}" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="{{site.data.metadata.instagramUrl}}" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="mailto:{{site.data.metadata.email}}">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
</ul>
