.cv-section {
    .btn-link[data-toggle="collapse"] {
        color: inherit;
        font-size: 1.25rem;
        font-weight: 600;
        &:hover,
        &:active {
            text-decoration: none;
            color: inherit;
        }
    }
}
