<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{page.title}} | Writing Behind-the-Scenes</title>
    <meta name="description" content="{{page.excerpt | strip_html}}" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{page.excerpt | strip_html}}" />
    <meta property="og:title" content="{{site.ogTitle}}" />
    <meta property="og:url" content="{{site.ogUrl}}" />
    <meta property="og:image" content="{{site.ogUrl}}{{site.ogImage}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{site.ogTitle}}" />
    <meta name="twitter:description" content="{{site.ogDescription}}" />
    <meta name="twitter:image" content="{% if page.image %} {{site.ogUrl}}{{page.image}} {%else%} {{site.ogUrl}}{{site.ogImage}} {% endif %}" />
    <meta name="twitter:url" content="{{site.ogUrl}}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{site.favicon | absolute_url}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="{{'assets/vendor/font-awesome/css/font-awesome.css' | absolute_url}}" rel="stylesheet" type="text/css">
    <link href="{{'css/style.css' | absolute_url}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,100italic,300italic,400" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
</head>

<body>
  {% include nav-default.html %}
  <main class="container pt-5 mt-5">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h1>{{page.title}}</h1>
        <h2 class="h6 text-muted pb-2 text-capitalize">{{page.date | date_to_string}}</h2>
        <div class="pb-3">{% include share-buttons.html %}</div>
        <div class="text-justify">
          {{content}}
        </div>
      </div>
      <aside class="col-md-4 blog-sidebar">
        <h3 class="h4 text-capitalize">Recent Posts</h3>
        <ol class="list-unstyled mb-0">
          {% for post in site.posts %}
          <li class="recent-post{% if page.url contains post.url %} active {% endif %}">
            <a class="text-muted" href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ol>
      </aside>
    </div>
  </main>
  {% include footer.html %} 
  {% include scripts.html %}
</body>

</html>