<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
<body>
  {% include nav.html %}
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <img class="rounded-circle imgsus" alt="Andrey Marin" src="assets/img/profile.jpeg"/>
  			<h1 class="intro-lead-in">Allyson Jeffredo</h1>
  			<h2 class="ntro-heading">Designer. Programmer. Creative. Innovator.</h2>
  			<p class="extend-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <!-- <div class="intro-lead-in">Welcome To Our Studio!</div>
        <div class="intro-heading">It's Nice To Meet You</div> -->
        <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a>
      </div>
    </div>
  </header>
  {{content}}
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
